@font-face {
    font-family: "SourceCodePro";
    src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}
body {
    font-family: "SourceCodePro";
}
div {
    font-family: "SourceCodePro";
}
a {
    font-family: "SourceCodePro";
}
pre {
    font-family: "SourceCodePro";
}
p {
    font-family: "SourceCodePro";
}
.text {
    color: white;
}
.remove-hyperlinks {
    text-decoration: none;
    color: #c06dff;
}